.App {
  display: flex;
  min-height: 100vh;
}

aside {
  flex-shrink: 0;
}

.container {
  flex-grow: 1;
  padding: 20px;
  margin-left: 240px;
  transition: margin-left 0.3s ease;
}

.container.menu-collapsed {
  margin-left: 90px;
}
